.tableWraper {
     display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.tableContent {
    
  border: 1px solid black;
  width: 900px;
  align-items: center;
}

.tableHeader {
    background-color: black;
  color: lightgray;
  font-size: 30px;
  text-align: center;
}


.tableTitle {
     display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tabletElement {
     display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid gray;
}


